<div class="center jumbotron">
  <h1>Sign In</h1><br>

<font color=#ffffff><%= form_tag login_path, method: "post" do %>
  <p id="fields"><%= label_tag :username %></p>
  <%= text_field_tag :username %>
  <br>
  <br>
  <p id="fields"><%= label_tag :password %></p>
  <%= password_field_tag :password %>
  <br>
  <br>
  <%= submit_tag "Login", class: "btn btn-primary btn-xlarge" %>
<% end %>
</div>
