<div class="ui raised very padded text container segment">

<div class="show_block">
  <h1 id="artist_name"><%= @track.name %></h1>
  <div class="ui divider"></div>

  <h3><%= link_to @track.artist.name, @track.artist %></h3> <br>

  <% if @track.artist.genres %>
    <label>Genres:</label>
    <ul>
      <% @track.artist.genres.each do |genre| %>
        <li><%= link_to genre.name, genre %></li>
      <% end %>
    </ul>
  <% end %>
  <br>
  <label>Recent Playlists:</label>
  <ul>
    <% @track.recent_playlists.each do |playlist| %>
      <li><%= link_to playlist.name, playlist %></li>
    <% end %>
  </ul>
  <br>
  <label>Song Analysis:</label>
  <ul>
    <li><strong>Acousticness:</strong> <%= (@track.acousticness * 10).round(2) %></li>
    <li><strong>Danceability:</strong> <%= (@track.danceability * 10).round(2) %></li>
    <li><strong>Energy:</strong> <%= (@track.energy * 10).round(2) %></li>
    <li><strong>Instrumentalness:</strong> <%= (@track.instrumentalness * 10).round(2) %></li>
    <li><strong>Liveness:</strong> <%= (@track.liveness * 10).round(2) %></li>
    <li><strong>Speechiness:</strong> <%= (@track.speechiness * 10).round(2) %></li>
    <li><strong>Tempo:</strong> <%= @track.tempo.round(2) %> BPM</li>
    <li><strong>Valence:</strong> <%= (@track.valence * 10).round(2) %></li>
    <li><strong>Time Signature:</strong> <%= @track.time_signature %></li>
    <li><strong>Key:</strong> <%= @track.key %></li>
    <li><strong>Mode:</strong> <% if @track.mode == 1 %> Major <% else %> Minor <% end %></li>
  </ul>
</div>
<div class="profile_img">
  <img src="<%= @track.images[0]["url"] %>" alt="<%= @track.name %>" id="profile">

</div>
</div>
