<div class="ui raised very padded text container segment">

<div class="show_block">
  <h1 id="artist_name"><%= @artist.name %></h1>
  <div class="ui divider"></div>

  <label id="titles">Popularity: <% (@artist.popularity/20).times do %>
    <%= image_tag "dancer.png", width: '28', height: '32' %>
    <% end %>
  </label>
  <div class="ui divider"></div>

  <br>
  <label id="titles">Genres:</label>
  <ul>
    <% @artist.genres.each do |genre| %>
      <li><%= link_to genre.name, genre %></li>
    <% end %>
  </ul>
  <label id="titles">Recent Playlists:</label>
  <ul>
    <% @artist.recent_playlists.each do |playlist| %>
      <li><%= link_to playlist.name, playlist %></li>
    <% end %>
  </ul>
</div>
<div class="profile_img">
  <img src="<%= @artist.images[0]["url"] %>" alt="<%= @artist.name %>" id="profile">

</div>
</div>
