<div class="ui raised very padded text container segment signup">
  <h3 id="signup_label">Signup</h3>
  <%= form_for @user, html: {class: "ui form signup signup_form"} do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.submit "Create User", class: "ui button" %>
  <% end %>
</div>
