<div class="center jumbotron">
  <h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <p id="fields"><%= f.label :username %></p>
  <%= f.text_field :username %>
  <br>
  <p id="fields"><%= f.label :display_name %></p>
  <%= f.text_field :display_name %>
  <br>
  <p id="fields"><%= f.label :password %></p>
  <%= f.password_field :password %>
  <br>
  <p id="fields"><%= f.label :password_confirmation %></p>
  <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <%= f.submit "Create User", class: "button" %>
<% end %>

</div>
