<h2><%= @playlist.name %></h2>
<h3>By <%= link_to @playlist.user.display_name, @playlist.user %></h3>

<% if @playlist.user_id == session[:user_id] %>
  <%= link_to "Edit Playlist", "/playlists/#{@playlist.id}/edit" %><br><br>
<% end %>


<% if !@playlist.artists.empty? %>
  <label>Artists</label>
  <ul>
    <% @playlist.artists.each do |artist| %>
      <li><%= link_to artist.name, artist %></li>
    <% end %>
  </ul>
<% end %>
<% if !@playlist.tracks.empty? %>
  <label>Tracks</label>
  <ul>
    <% @playlist.tracks.each do |track| %>
      <li><%= link_to track.name, track %></li>
    <% end %>
  </ul>
<% end %>
<% if !@playlist.genres.empty? %>
  <label>Genres</label>
  <ul>
    <% @playlist.genres.each do |genre| %>
      <li><%= link_to genre.name, genre %></li>
    <% end %>
  </ul>
<% end %>

<%#= form_tag "/playlists/#{@playlist.id}/generate", method: "get" do %>
  <%#= label_tag "Number Of Tracks" %>
  <!-- <br> -->
  <%#= number_field_tag :num %>
  <!-- <br> -->
  <%#= submit_tag "Generate Playlist" %>
<%# end %>
<br>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :playlist_id, value: "#{@playlist.id}" %>
  <%= f.hidden_field :user_id, value: "#{session[:user_id]}" %>
  <%= f.label "Add Comment:" %>
  <br>
  <%= f.text_area :content %>
  <br>
  <%= f.submit "Save Comment" %>
<% end %>
<ul>
  <% @playlist.comments.each do |comment| %>
    <label> <strong>Comment by <%= link_to comment.user.display_name, comment.user %>:</strong></label><br>
    <p><%= comment.content %></p>
  <% end %>
</ul>
