<div class="playlist_title ui raised very padded text container segment">
  <p> <%= @playlist.name %> - by <%= link_to @playlist.user.display_name, @playlist.user %></p>
</div>
<% if flash[:notice] %>
  <div class="notice ui railsed very padded text container segment"><%= flash[:notice] %></div>
<% end %>
<div class="playlist_display ui raised very padded text container segment">
  <% if !@playlist.artists.empty? %>
    <label id="headers">Artists</label>
      <% @playlist.artists.each do |artist| %>
        <p id="playlist_items"><%= link_to artist.name, artist %></p>
      <% end %>
  <% end %>
  <div class="ui divider"></div>
  <% if !@playlist.tracks.empty? %>
    <label id="headers">Tracks</label>
      <% @playlist.tracks.each do |track| %>
        <p id="playlist_items"><%= link_to track.name, track %></p>
      <% end %>
  <% end %>
  <div class="ui divider"></div>
  <% if !@playlist.genres.empty? %>
    <label id="headers">Genres</label>
      <% @playlist.genres.each do |genre| %>
        <p id="playlist_items"><%= link_to genre.name, genre %></p>
      <% end %>
  <% end %>
  <div class="ui divider"></div>


  <%= form_tag "/playlists/#{@playlist.id}/generate", method: "get" do %>
    <%= label_tag "Number Of Tracks" %>
    <br>
    <%= number_field_tag :num, 20 %>
    <br>
    <%= submit_tag "Generate Playlist", class: "ui button" %>
  <% end %>
  <br>
  <div class="ui divider"></div>
  <div class="ui vertical basic buttons">
  <% if @playlist.user_id == session[:user_id] %>
    <%= form_tag "/playlists/#{@playlist.id}/edit", method: "get" do %>
      <%= submit_tag "Edit Playlist", class: "ui button" %>
    <% end %>
    <%= form_tag playlist_path(@playlist), method: "delete" do %>
      <%= submit_tag "Delete Playlist", class: "ui button" %>
    <% end %>
  <% end %>
  </div>
<br>
</div>

<div class="comments ui raised very padded text container segment">
  <% @playlist.comments.each do |comment| %>

    <div class="content">
      <div class="author">
        <%= link_to comment.user.display_name, comment.user %>
      </div>
      <div class="metadata">
        <span class="date"><%= comment.created_at.strftime("%B %e, %Y at %H:%M") %></span>
      </div>
      <div class="text">
        <%= comment.content %>
      </div>
    </div>
    <div class="ui divider"></div>
  <% end %>
  <div class="ui reply form">
    <%= form_for @comment do |f| %>
      <%= f.hidden_field :playlist_id, value: "#{@playlist.id}" %>
      <%= f.hidden_field :user_id, value: "#{session[:user_id]}" %>
      <strong><%= f.label "Add Comment:" %></strong>
      <br>
      <%= f.text_area :content %>
      <br>
      <br>
      <%= f.submit "Save Comment", class: "ui green labeled submit icon button" %>
    <% end %>

  </div>
</div>
