<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyPlaylister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sidebar">
      <%= link_to 'Home', '/' %><br>
      <%= link_to 'Profile', "/users/#{session[:user_id]}" %><br>
      <%= link_to "New Playlist", "/playlists/new" %><br>
      <% if !logged_in? %>
        <%= link_to "Login", "/login", method: "get" %>
      <% else %>
        <%= link_to "Logout", "/logout", method: "get" %>
      <% end %>
    </div>



    <%= yield %>
  </body>
</html>
