<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyPlaylister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', '/' %>
    <%= link_to 'Profile', "/users/#{session[:user_id]}" %>
    <%= link_to "New Playlist", "/playlists/new" %>
    <% if !logged_in? %>
      <%= link_to "Login", "/login", method: "get" %>
    <% else %>
      <%= link_to "Logout", "/logout", method: "get" %>
    <% end %>


    <%= yield %>
  </body>
</html>
